xml/Práctica/teacher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="teacher">
        <xs:complexType>
            <xs:all>
                <xs:element name="firstname" type="xs:string" />
                <xs:element name="surnames" type="xs:string" />
                <xs:element name="age" type="xs:string" />
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>